
/************** CONTACT - PANEL 7 **************/
.panel7_wrapper {
    position: relative;
    width: 100%;
    height: 30vh;
}
  
.panel7 {
    height: 150vh;      
    background-color: #f24ec9; 
    background-size: cover;
    position: relative;
}

.panel7-overlap {
    position: absolute;
	width: 100%;
	height: 150vh;
    top: 0;
    left: 0;
    /* USE MARIO BACKGROUND IMAGE INSTEAD */
    background-color: #943ad9; 
    background-size: cover;   
    clip-path: polygon(0% 23%,100% 0%,100% 100%,0% 100%);
}

.contact-title {
    /* background-color: #943ad9; */
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    font-family: DogicaBold;
    /**** NEED TO CHANGE PIXELS TO VW/VH ****/
    font-size: 4vw;
    text-transform: uppercase;
    text-shadow: -10px 10px #F24EC9, -20px 20px #AC3FD5;
    margin-bottom: 50px;
}

.arcade-container {
    text-align: center;
    position: relative;
    z-index: 1;
}

/* .arcade-screen-image {
    position: absolute;
    z-index: -1;
    margin: 220px 0vw 0vw 0vw;
    height: 16vw;
} */

.arcade-svg {
    /* top: 0;
    margin-top: 4vw; */
    height: 40vw;
    min-height: 400px;
    background-image: url("https://media.giphy.com/media/3o6UBpHgaXFDNAuttm/giphy.gif");
    background-position: center;
    background-position-y: 6vw;
    background-repeat: no-repeat;
    background-size: auto 29%;
}

.contact-description {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.message-form-bcg {
    margin: 1vh 5vw 5vh 5vw;
    background-color: #373b6d;
    border-radius: 50px;
    padding: 1vw;
    border: 5px solid #121C2B;
    box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
    padding: 20px;
    min-width: 334px;
}

.message-button {
    text-align: center;
    font-family: DogicaBold;
    font-size: 25px;
    color: yellow;
    text-transform: uppercase;
    text-shadow: -5px 5px #121C2B;
    margin: 2vw;
    background-color: rgb(127, 0, 212);
    border-radius: 30px;
    padding: 5px;
    border: 5px solid black;
    box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
}

/** WHEN YOU HOVER ON MESSAGE BUTTON **/
.message-button:hover {
    margin-top: 1.5vw;
    box-shadow: none;
}


.message-form {
    margin: 1vw;
}

.message {
    margin-top: 2vw;
}

.contactme-row {
    background-color: #943ad9;
    padding-bottom: 10vw;
}

@media screen and (max-width: 956px) {
    .arcade-svg {
        background-position-y: 70px;
    }

    .contact-title {
        font-size: 30px;
    }

    .message-form-bcg {
        margin: 0 auto;
    }
}