
/************** CONTACT - PANEL 7 **************/
.panel7_wrapper {
    position: relative;
    width: 100%;
    height: 30vh;
}
  
.panel7 {
    height: 200vh;      
    background-color: #f24ec9; 
    background-size: cover;
    position: relative;
}

.panel7-overlap {
    position: absolute;
	width: 100%;
	height: 200vh;
    top: 0;
    left: 0;
    /* USE MARIO BACKGROUND IMAGE INSTEAD */
    background-color: #943ad9; 
    background-size: cover;   
    clip-path: polygon(0% 23%,100% 0%,100% 100%,0% 100%);
}

.contact-title {
    /* background-color: #943ad9; */
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    font-family: DogicaBold;
    /**** NEED TO CHANGE PIXELS TO VW/VH ****/
    font-size: 5vw;
    text-transform: uppercase;
    text-shadow: -10px 10px #F24EC9, -20px 20px #AC3FD5;
    margin-bottom: 50px;
}

.arcade-container {
    text-align: center;
    position: relative;
    z-index: 1;
}

/* .arcade-screen-image {
    position: absolute;
    z-index: -1;
    margin: 220px 0vw 0vw 0vw;
    height: 16vw;
} */

.arcade-svg {
    /* top: 0;
    margin-top: 4vw; */
    height: 40vw;
    background-image: url("https://media.giphy.com/media/3o6UBpHgaXFDNAuttm/giphy.gif");
    background-position: center;
    background-position-y: 6vw;
    background-repeat: no-repeat;
    background-size: auto 29%;
}