/************** EXPERIENCE **************/
.panel4_wrapper {
    position: relative;
    width: 100%;
    height: 30vh;
}
  
.panel4 {
    height: 200vh;      
    background-color: #943ad9;
    background-size: cover;
    position: relative;
}

.panel4-overlap {
    position: absolute;
	width: 100%;
	height: 300vh;
    top: 0;
    left: 0;
    /* USE MARIO BACKGROUND IMAGE INSTEAD */
    background-image: url("images/rafi_portfolio_img_timeline.jpg");
    /* background-size: 50%; */
    background-position: 50%;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-position-y: 50%;
    /* background-color: #58c9cb;  */
    background-size: cover;   
    clip-path: polygon(0% 2%,100% 39%,100% 100%,0% 100%);
}

.experience-title {
    /* background-color: #943ad9; */
    text-align: left;
    color: white;
    position: relative;
    z-index: 1;
    font-family: DogicaBold;
    /**** NEED TO CHANGE PIXELS TO VW/VH ****/
    font-size: 5vw;
    text-transform: uppercase;
    text-shadow: -10px 10px #F24EC9, -20px 20px #AC3FD5;
    margin-bottom: 50px;
}

.start_title {
    text-transform: uppercase;
    font-family: DogicaBold;
    font-size: 20px;
    background-color: white;
    border-radius: 6px;
    color: black;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
    width: 150px;
}

.start_timeline {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #58c9cb; */
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 20px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .blurb {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .blurb::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    right: -32px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 52%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 0;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -40px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }


  .fa-arrow-circle-o-down {
    text-align: center;
    color: white;
    position: relative;
    width: 99%;
    z-index: 1;
    left: 16px;
    top: -10px;
  }


  @media screen and (max-width: 980px) {
    .experience-title {
      font-size: 8vw;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .right::after {
        left: -34px;
      }
      html {
        overflow-x: hidden;
      }
      
  }

  @media screen and (min-width: 1000px){
    html {
      overflow-x: hidden;
    }
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    .start_title {
        margin: 0 0;
    }

    html {
      overflow-x: hidden;
    }
    
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .blurb {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .blurb::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }

    .fa-arrow-circle-o-down {
        text-align: left;
        color: white;
        position: relative;
        width: 100%;
        z-index: 1;
        top: -10px;
        left: 7px;
      }
  }