body, html {
	background-color: #121C2B;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    box-sizing: inherit;
}

  body {
    position: relative
  }


 
/************ NAVIGATION BAR *************/
#nav {
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	position: fixed;
	bottom: 0%;
	display: block;
	width: 100%;
	margin: 0;
	padding: 02%;
	z-index: 100;
	color: white;
	text-align: center;
}

.noBackground {
	background-color: none;
}

/* #nav .inner {
} */

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li {
	display: inline;
	padding: 0px 5px;
	text-align: center;
}

#nav a:hover {
	color: white;
	font-weight: bold;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
	text-decoration: none;
}
/* @-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
	}
} */

/************ SOCIAL MEDIA CONTACT *************/
#nav-contact {
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	position: fixed;
	bottom: 10%;
	left: 0%;
	display: block;
	width: 20%;
	padding: 2%;
	z-index: 100;
	color: white;
	text-align: left;
}

.fa {
	padding: 19px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	/* height: 50px;
	width: 50px; */
	/* border-radius: 50%; */
	display: inline-block;
}

.fa-facebook {
	/* background-color: #3B5998; */
	color: white;
	position: absolute;
	left: 10%;	
}

.fa-twitter {
	/* background: #55ACEE; */
	color: white;
	position: absolute;
	left: 10%;	
}

.glyphicon-envelope {
	/* background: #dd4b39; */
	color: white;
	position: absolute;
	padding: 19px;
}

.fa-linkedin {
	/* background: #007bb5; */
	color: white;
	position: absolute;
	left: 10%;	
}

#nav-contact .noBackground {
	background-color: none;
}

/* #nav-contact .inner {
} */

#nav-contact ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
 

/************** PANEL 1 - MAIN **************/
.name-title {
    margin: 20vh;
    color: white;
    position: absolute;
    z-index: 1;
    font-family: DogicaBold;
	font-size: 10vw;
    text-transform: uppercase;
	text-shadow: -10px 10px #F24EC9, -20px 20px #AC3FD5;
}

.wrapper{
    position: relative;
      width: 100%;
      height: 100vh;
  }

.panel1 {
    height: 100vh;      
    background-color: #58c9cb;
    background-size: cover;
    /* background-position: right; */
    /* children elements will be the reference point if position set to relative */
    position: relative;
    /* coordinates start left-top --> right-top --> r-btm --> l-btm */
    /* clip-path: polygon(25% 0%,100% 0%,100% 100%,66% 100%); */
}

.panel1-overlap {
    position: absolute;
	width: 100%;
	height: 100vh;
    top: 0;
    left: 0;
    background-color: #121C2B;
    background-size: cover;   
    clip-path: polygon(0% 0%,36% 0%,100% 100%,0% 100%);
    /* clip-path: polygon(0% 0%,16% 0%,16% 14%,29.00% 14.00%,29.00% 29.00%,44.00% 29.00%,44.00% 44.00%,60.00% 44.00%,60.00% 59.00%,75.00% 59.00%,75.00% 74.00%,89.00% 74.00%,89.00% 88.00%,100% 88%,100% 100%,0% 100%); */
}
