
/************** SKILLS **************/
.panel3_wrapper {
    position: relative;
    width: 100%;
    height: 30vh;
}
  
.panel3 {
    height: 100vh;      
    background-color: #f24ec9;
    background-size: cover;
    position: relative;
}

.panel3-overlap {
    position: absolute;
	width: 100%;
	height: 100vh;
    top: 0;
    left: 0;
    background-color: #943ad9;
    background-size: cover;   
    clip-path: polygon(0% 40%,100% 20%,100% 100%,0% 100%);
}

.skills-title {
    /* background-color: #943ad9; */
    text-align: right;
    color: white;
    position: relative;
    z-index: 1;
    font-family: DogicaBold;
    /**** NEED TO CHANGE PIXELS TO VW/VH ****/
    font-size: 5vw;
    text-transform: uppercase;
    text-shadow: -10px 10px #F24EC9, -20px 20px #58c9cb;
    margin-bottom: 2vw;
    margin-right: 2vw;
}

.skills_container {
    color: white;
    position: relative;
    z-index: 1;
    /* width: 90%; */
    background-color: #943ad9;
}

.skills-sub-titles {
    font-family: DogicaBold;
    /* text-align: center; */
    font-size: 3vw;
    color: yellow;
    text-transform: uppercase;
    text-shadow: -5px 5px #121C2B;
    margin: 1vw;
}

.development_text {
    padding-left: 4vw;
}

.skills-sub-titles-small {
    text-align: center;
    font-family: DogicaBold;
    font-size: 25px;
    color: yellow;
    text-transform: uppercase;
    text-shadow: -5px 5px #121C2B;
    margin: 1vw;
    background-color: rgb(127, 0, 212);
    border-radius: 30px;
    padding: 5px;
    border: 5px solid black;
    box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
}

.skills-grid {
    margin: 0 auto;
    width: 90%;
}

/* .a {
    /* background-color: blue; */
    /* border: 1px solid black; */

.development-list {
    padding-top: 50px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.development-description {
    font-family: DogicaBold;
    font-size: 20px;
}

/**** BUTTON COLORS ****/
.circle {
	height: 12vw;
	width: 12vw;
    /* min-height: 120px;
    min-width: 150px; */
}

.inner-circle {
    height: 9vw;
    width: 9vw;
    /* min-height: 112px;
    min-width: 112px; */
    background-color: white;
    border-radius: 50%;
    margin: 1.2vw;
    display: inline-block;
    border: 5px solid black;
}

.tools-container, .dev-container {
   margin: 80px;
    background-color: #373b6d;
    border-radius: 50px;
    padding: 1vw;
    border: 5px solid #121C2B;
    box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
}

/**** RED BUTTONS **/
.circle.a, .circle.f {
    background-color: rgb(156, 45, 45);
    height: 12vw;
	width: 12vw;
    min-height: 120px;
    min-width: 120px;
	border-radius: 50%;
	display: inline-block;
	margin: 10px;
    border: 5px solid black;
    box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
}

.inner-circle.a, .inner-circle.f {
    background-color: red;
    min-width: 92px;
    min-height: 92px;
}

/*** BLUE BUTTONS **/
.circle.b {
    background-color: blue;
    height: 12vw;
	width: 12vw;
    /* min-height: 120px;
    min-width: 120px; */
	border-radius: 50%;
	display: inline-block;
	margin: 10px;
    border: 5px solid black;
    box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
}

.inner-circle.b {
    background-color: rgb(21, 100, 247);
}

/*** GREEN BUTTONS **/
.circle.c {
    background-color: rgb(26, 184, 26);
    height: 12vw;
	width: 12vw;
    /* min-height: 120px;
    min-width: 120px; */
	border-radius: 50%;
	display: inline-block;
	margin: 10px;
    border: 5px solid black;
    box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
}

.inner-circle.c {
    background-color: greenyellow;
}

/*** ORANGE BUTTONS **/
.circle.d {
    background-color: rgb(255, 181, 44);
    height: 12vw;
	width: 12vw;
    /* min-height: 120px;
    min-width: 120px; */
	border-radius: 50%;
	display: inline-block;
	margin: 10px;
    border: 5px solid black;
    box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
}

.inner-circle.d {
    background-color: rgb(255, 230, 0);
}

/*** PURPLE BUTTONS **/
.circle.e {
    background-color: rgb(199, 5, 141);
    height: 12vw;
	width: 12vw;
    min-height: 120px;
    min-width: 120px;
	border-radius: 50%;
	display: inline-block;
	margin: 10px;
    border: 5px solid black;
    box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
}

.inner-circle.e {
    background-color: #f72585;
}

.circle.g {
    background-color: rgb(155, 36, 202);
    height: 12vw;
	width: 12vw;
    min-height: 120px;
    min-width: 120px;
	border-radius: 50%;
	display: inline-block;
	margin: 10px;
    border: 5px solid black;
    box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
}

.inner-circle.g {
    background-color: #df25f7;
}


.circle-shine-big {
    margin: 2px;
    height: 3vw;
    width: 3vw;
    transform: skew(-40deg);
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.circle-shine-sm {
    margin-top: 50px;
    height: 1.5vw;
    width: 1.5vw;
    transform: skew(-20deg);
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.skills-list {
    font-family: 'DotGothic16', sans-serif;
    font-size: 20px;
}

/**** LOGOS *****/
.unity {
    width: 6vw;
    height: 6vw;
    /* min-width: 70px;
    min-height: 70px; */
    margin: 1vw; 
}

.csharp {
    width: 7vw;
    height: 7vw;
    /* min-width: 60px;
    min-height: 60px; */
    margin: 1vw 0px 0px 1vw;
}

.photoshop {
    width: 5.5vw;
    height: 5.5vw;
    /* min-width: 70px;
    min-height: 70px; */
    margin: 1.5vw;
}

.three_ds {
    width: 7vw;
    height: 7vw;
    /* min-width: 80px;
    min-height: 80px; */
    margin: 0.8vw;
}

.gamemaker {
    width: 7vw;
    height: 7vw;
    /* min-width: 80px;
    min-height: 80px; */
    margin: 1vw;
}

.aepsirte {
    width: 5.5vw;
    height: 5.5vw;
    min-width: 70px;
    min-height: 70px;
    margin: 1vw;
}

.tortoise {
    width: 7vw;
    height: 7vw;
    min-width: 80px;
    min-height: 80px;
    margin: 1vw;
}

.unreal {
    width: 8vw;
    height: 8vw;
    min-width: 90px;
    min-height: 90px;
    margin: 0.2vw;
}

/********* JOYSTICK **********/
.joystick {
    width: 15vw;
    /* margin: 5vw; */
}

/******** TECH TOOLTIPS *******/
/* Tooltip container */
.circle.a:hover .tooltiptext {
    visibility: visible;
}

.circle.b:hover .tooltiptext {
    visibility: visible;
}
  
.circle.c:hover .tooltiptext {
    visibility: visible;
}

.circle.d:hover .tooltiptext {
    visibility: visible;
}

.circle.f:hover .tooltiptext {
    visibility: visible;
}

.circle.d:hover .tooltiptext {
    visibility: visible;
}

.circle.g:hover .tooltiptext {
    visibility: visible;
}

.circle.e:hover .tooltiptext {
    visibility: visible;
}

.arcade_btn_holder {
    font-family: DogicaBold;
    text-align: center;
}
  /* Tooltip text */
 .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 100;
  }
  
  .small_arcade_btn_holder {
    visibility: hidden;
}
/******** BUTTON SIZING CHANGE *******/
@media screen and (max-width: 980px) {
    .skills-title {
        font-size: 10vw;
    }

    .skills-sub-titles {
        font-size: 20px;
    }

    .arcade_btn_holder {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .small_arcade_btn_holder {
        visibility: visible;
        margin-bottom: 5vw;
    }

    .dev_button_outer {
        width: 20vw;
        height: 8.5vh;

        min-width: 160px;
        min-height: 70px;
        background-color: rgb(255, 187, 0);
        border-radius: 40px;
        border: 5px solid black;
        box-shadow: -10px 10px  rgba(0, 0, 0, 0.6);
        margin: 10px;
    }

    .dev_button_inner {
        width: 18vw;
        height: 4.5vh;

        min-width: 135px;
        min-height: 50px;
        text-align: center;
        font-family: DogicaBold;
        font-size: 16px;
        color: white;
        text-transform: uppercase;
        text-shadow: -2px 2px #121C2B;
        margin: 1vw;
        padding: 5px;
        border: 5px solid black;
        border-radius: 30px;
        background-color: rgb(255, 230, 1);
    }

    .joystick {
       visibility: hidden;
        /* margin: 5vw; */
        width: 0;
    }

     /*** UNITY UNREAL***/
     .dev_button_outer.a, .dev_button_outer.f {
         background-color: rgb(156, 45, 45);;
     }

     .dev_button_inner.a, .dev_button_inner.f {
         background-color: red;
     }

     /*** PHOTOSHOP ***/
     .dev_button_outer.b {
         min-width: 210px;
     }

     .dev_button_inner.b {
        min-width: 180px;
     }

     .dev_button_outer.b {
        background-color: blue;
    }

    .dev_button_inner.b {
        background-color: rgb(21, 100, 247);
    }

    /*** 3DS MAX ***/
    .dev_button_outer.c {
        min-width: 190px;
    }

    .dev_button_inner.c {
       min-width: 160px;
    }

    .dev_button_outer.c {
        background-color: rgb(26, 184, 26);
    }

    .dev_button_inner.c {
        background-color: greenyellow;
    }

    /*** GAMEMAKER STUDIO AND C#***/
    .dev_button_outer.d {
        min-width: 200px;
        min-height: 95px;
    }

    .dev_button_inner.d {
       min-width: 180px;
       min-height: 70px;
    }
    .dev_button_outer.d,  .dev_button_outer.g {
        background-color: rgb(255, 181, 44);
    }

    .dev_button_inner.d, .dev_button_inner.g {
        background-color: rgb(255, 230, 0);
    }

    /*** PERLENSPIEL ***/
    .dev_button_outer.e {
        min-width: 240px;
    }

    .dev_button_inner.e {
       min-width: 210px;
    }

    .dev_button_outer.e {
        background-color: rgb(199, 5, 141);
    }

    .dev_button_inner.e {
        background-color: #f72585;
    }

    /**** AESPRITE ****/
    .dev_button_outer.h {
        min-width: 210px;
    }

    .dev_button_inner.h {
       min-width: 180px;
    }

    .dev_button_outer.h {
        background-color: rgb(155, 36, 202);
    }

    .dev_button_inner.h {
        background-color: #df25f7;
    }
}
